<ul>
  <% @contents.each do |doc| %>
    <li><a href="<%=doc %>"><%= doc %></a>
      <a href="<%=doc %>/edit"> *edit</a> 
      <form class="inline" method="post" action="<%=doc %>/duplicate"> 
        <button type="submit">Duplicate</button>
      </form>
      <form class="inline" method="post" action="<%=doc %>/delete"> 
        <button type="submit">Delete</button>
      </form>
    </li>
<% end %>
</ul>
<p>
<a href="/new">New Document</a>
<p>

<% if session[:success] %>
 <i>Signed in as <%= @username %></i></div><p>
 <a href="/signout"><button type="submit" action="signout">Sign out</button></a>
 <p>
<% else %>
  <p><a href="/users/signin"><button type="submit">Sign in</button></a></p>
<% end %>
