<% if @records.empty? %>
  <p>There are no entries. Click here to <a href="/live_track/new">start recording.</a></p>
<% end %>

<ul id="records">
  <% @records.each do |record| %>
    <li>ID: <%= record[:id] %></li>
    <li>Project: <%= record[:project] %></li>
    <li>Task: <%= record[:task] %></li>
    <li>Rate: $<%= record[:rate] %></li>
    <li>Start Time: <%= record[:starttime] %></li>
    <li>End Time: <%= record[:endtime] %></li>
    <form method="post" action="/all_records/<%= record[:task] %>/delete" class="delete"><button type="submit">Delete task</button></form>
    <p>
<% end %>
</ul>
