<% if @records.empty? %>
  <p>There are no entries. <a href="/live_track/new">Click here</a> to start recording.</p>
<% end %>

<ul id="records">
  <% @records.each do |record| %>
    <li>Project: <%= record[:id] %></li>
    <li>Project: <%= record[:project] %></li>
    <li>Task: <%= record[:task] %></li>
    <li>Rate: $<%= record[:rate] %></li>
    <li>Start Time: <%= record[:starttime] %></li>
    <li>End Time: <%= record[:endtime] %></li>
    <p>
      <% if record[:endtime].nil? %>
        <a href="/live_track/end">End tracking</a><p>
      <% end %>
    <form method="post" action="/all_records/<%= record[:id] %>/delete" class="delete"><button type="submit">Delete task</button>
    </form>  
    <p>
<% end %>
</ul>
